<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p>Esta buscando : <strong>{{query}}</strong></p>

    {% if productos %}
        <p>Articulos encontrado: {{productos|length}} articulo</p>

    <ul>
        {%for pro in productos %}
        <li>
            {{pro.nombre}}
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>"No esta el articulo encontrado"</p>
        <p>{{mensaje}}</p>

    {% endif %}

</body>
</html>